:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 966px;
  margin: 0 auto;
  background: #2a2e3a;
  overflow: hidden;
}
.flex-row-d {
  position: relative;
  width: 1220px;
  height: 100px;
  margin: 5px 0 0 30px;
  z-index: 55;
  overflow: visible auto;
}
.rectangle {
  position: relative;
  width: 189px;
  height: 33px;
  margin: 16px 0 0 1006px;
  background: #2a2e3a;
  z-index: 52;
  border-radius: 40px;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 92.06%;
  height: 63.64%;
  top: 18.18%;
  left: 4.23%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 53;
}
.rectangle-1 {
  position: relative;
  width: 189px;
  height: 33px;
  margin: 2px 0 0 1006px;
  background: #2a2e3a;
  z-index: 55;
  border-radius: 40px;
}
.phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 39.68%;
  height: 63.64%;
  top: 18.18%;
  left: 30.69%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 56;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 34;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 10px 10px 10px 10px;
  z-index: 35;
}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 1200px;
  height: 80px;
  background: #000000;
  z-index: 36;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.frame-3 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 228px;
  position: absolute;
  width: 1179px;
  height: 80px;
  top: 10px;
  left: 10px;
  z-index: 37;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 118px;
  height: 41px;
  padding: 54px 10px 56px 10px;
  z-index: 38;
}
.resource {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 40px;
  z-index: 39;
}
.resource-5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/pWpfnxnQY8.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 438px;
  height: 100px;
  padding: 10px 10px 10px 10px;
  z-index: 41;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 41px;
  position: relative;
  min-width: 0;
  height: 90px;
  z-index: 42;
}
.catalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 68px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 43;
}
.solutions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 71px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 44;
}
.service {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 45;
}
.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 43px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 46;
}
.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 81px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 47;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -15px;
  position: relative;
  width: 146px;
  z-index: 48;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  height: 52.5px;
  padding: 0 0 0 0;
  z-index: 49;
}
.line {
  position: relative;
  width: 642.384px;
  height: 10.769px;
  margin: 11.616px 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/wWN9yKQQbu.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.flex-row {
  position: relative;
  width: 1197px;
  height: 410.958px;
  margin: 14.616px 0 0 40px;
  z-index: 11;
}
.empty {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 598px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/d5Mrca2wCP.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.empty-9 {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 899px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/q5dUi5e55X.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.pechi-vyzhiganiya-bituma {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 56px;
  top: 7.958px;
  left: 40px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.pech-prednaznachena-dlya-opredeleniya-soderzhaniya-bituma-v-asfaltobetonnoy-smesi-metodom-vyzhiganiya {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 500px;
  height: 102px;
  top: 73.958px;
  left: 53px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: justified;
  z-index: 9;
}
.osnovnye-vozmozhnosti {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 202.958px;
  left: 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.upravlenie-osushchestvlyaetsya-cherez-sensornyy-displey-s-predustanovlennym-programmnym-obespecheniem {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 540px;
  height: 170px;
  top: 240.958px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: justified;
  z-index: 11;
}
.line-a {
  position: relative;
  width: 847.384px;
  height: 10.769px;
  margin: 12.658px 0 0 432.616px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/XpR9Ke90Yt.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.frame-b {
  position: relative;
  width: 1280px;
  height: 375px;
  margin: 14.616px 0 0 0;
  background: #2a2e3a;
  z-index: 12;
  overflow: hidden;
}
.component {
  position: absolute;
  width: 1280px;
  height: 375px;
  top: 0;
  left: 0;
  z-index: 13;
}
.texture {
  position: absolute;
  width: 99.61%;
  height: 717px;
  top: -86px;
  left: 0.39%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/n7AdXfCKgV.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.rectangle-c {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 14;
}
.rectangle-d {
  position: absolute;
  width: 1280px;
  height: 153px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/qRymJT0Xrw.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.questions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 21.02%;
  height: 14.93%;
  top: 5.07%;
  left: 39.53%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.consultation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 655px;
  height: 11.2%;
  top: 20%;
  left: 23.44%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  z-index: 18;
}
.group {
  position: absolute;
  width: 62.5%;
  height: 58.13%;
  top: 32.53%;
  left: 18.75%;
  z-index: 19;
}
.group-e {
  position: relative;
  width: 280px;
  height: 51px;
  margin: 10px 0 0 10px;
  font-size: 0px;
  z-index: 22;
  overflow: visible auto;
}
.name-input {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.rectangle-f {
  position: relative;
  width: 280px;
  height: 30px;
  margin: 0 0 0 0;
  background: rgba(217, 217, 217, 0.07);
  border: 0.1px solid #2a2e3a;
  z-index: 24;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.group-10 {
  position: relative;
  width: 780px;
  height: 85px;
  margin: 5px 0 0 10px;
  font-size: 0px;
  z-index: 25;
  overflow: visible auto;
}
.question-input {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.rectangle-11 {
  position: relative;
  width: 780px;
  height: 64px;
  margin: 0 0 0 0;
  background: rgba(217, 217, 217, 0.07);
  border: 0.1px solid #2a2e3a;
  z-index: 27;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.rectangle-12 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #000000;
  z-index: 20;
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.25);
}
.rectangle-13 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  z-index: 21;
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.25);
}
.group-14 {
  position: absolute;
  width: 37.5%;
  height: 13.6%;
  top: 35.2%;
  left: 42.97%;
  font-size: 0px;
  z-index: 28;
}
.phone-number-15 {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.rectangle-16 {
  position: relative;
  width: 480px;
  height: 30px;
  margin: 0 0 0 0;
  background: rgba(217, 217, 217, 0.07);
  border: 0.1px solid #2a2e3a;
  z-index: 30;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.rectangle-17 {
  position: absolute;
  width: 60.94%;
  height: 10.67%;
  top: 74.67%;
  left: 19.53%;
  background: #2a2e3a;
  z-index: 31;
  border-radius: 30px;
}
.ask-question {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 5.6%;
  top: 77.07%;
  left: 47.11%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
