:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1280px;
  height: 1944px;
  margin: 0 auto;
  background: #2a2e3a;
  overflow: hidden;
}
.flex-row-b {
  position: relative;
  width: 1220px;
  height: 100px;
  margin: 5px 0 0 30px;
  z-index: 76;
  overflow: visible auto;
}
.rectangle {
  position: relative;
  width: 189px;
  height: 33px;
  margin: 16px 0 0 1006px;
  background: #2a2e3a;
  z-index: 73;
  border-radius: 40px;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 92.06%;
  height: 63.64%;
  top: 18.18%;
  left: 4.23%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 74;
}
.rectangle-1 {
  position: relative;
  width: 189px;
  height: 33px;
  margin: 2px 0 0 1006px;
  background: #2a2e3a;
  z-index: 76;
  border-radius: 40px;
}
.phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 39.68%;
  height: 63.64%;
  top: 18.18%;
  left: 30.69%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 77;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 55;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  padding: 10px 10px 10px 10px;
  z-index: 56;
}
.rectangle-2 {
  flex-shrink: 0;
  position: relative;
  width: 1200px;
  height: 80px;
  background: #000000;
  z-index: 57;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.frame-3 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 228px;
  position: absolute;
  width: 1179px;
  height: 80px;
  top: 10px;
  left: 10px;
  z-index: 58;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 118px;
  height: 41px;
  padding: 54px 10px 56px 10px;
  z-index: 59;
}
.resource {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 40px;
  z-index: 60;
}
.resource-5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/4dt1hvrNX6.png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 438px;
  height: 100px;
  padding: 10px 10px 10px 10px;
  z-index: 62;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 41px;
  position: relative;
  min-width: 0;
  height: 90px;
  z-index: 63;
}
.catalog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 68px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 64;
}
.solutions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 71px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 65;
}
.service-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 66;
}
.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 43px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 67;
}
.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 81px;
  height: 34px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  white-space: nowrap;
  z-index: 68;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -15px;
  position: relative;
  width: 146px;
  z-index: 69;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  min-width: 0;
  height: 52.5px;
  padding: 0 0 0 0;
  z-index: 70;
}
.line {
  position: relative;
  width: 645.384px;
  height: 10.769px;
  margin: 11.616px 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/qHBywO7kWk.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.flex-row {
  position: relative;
  width: 1157px;
  height: 409px;
  margin: 14.616px 0 0 83px;
  z-index: 9;
}
.element {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 558px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/XHaUowOX7m.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
.before {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 37px;
  height: 56px;
  top: 353px;
  left: 253px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: justified;
  white-space: nowrap;
  z-index: 29;
}
.element-a {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 859px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/qMNfXvvYGi.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.after {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 83px;
  height: 56px;
  top: 353px;
  left: 207px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: justified;
  white-space: nowrap;
  z-index: 30;
}
.repair-insulation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 56px;
  top: 7.958px;
  left: 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.repair-thermal-insulation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 500px;
  height: 136px;
  top: 145px;
  left: 13px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
  z-index: 9;
}
.line-b {
  position: relative;
  width: 844.384px;
  height: 10.769px;
  margin: 14.616px 0 0 435.616px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/t3PAksEtdC.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.line-c {
  position: relative;
  width: 645.384px;
  height: 10.769px;
  margin: 29.231px 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/6kHcUmoTLd.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.flex-row-dbe {
  position: relative;
  width: 1157px;
  height: 409px;
  margin: 14.616px 0 0 83px;
  z-index: 21;
}
.pic-3 {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 558px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/ersZ35pVWp.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.before-d {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 37px;
  height: 56px;
  top: 353px;
  left: 253px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: justified;
  white-space: nowrap;
  z-index: 31;
}
.img-5 {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 859px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/WwzaZ3J19n.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.after-e {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 83px;
  height: 56px;
  top: 353px;
  left: 207px;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: justified;
  white-space: nowrap;
  z-index: 32;
}
.replace-heating-elements {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 56px;
  top: 8px;
  left: 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.replace-heating-elements-selection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 500px;
  height: 170px;
  top: 137px;
  left: 13px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
  z-index: 11;
}
.line-f {
  position: relative;
  width: 844.384px;
  height: 10.769px;
  margin: 14.616px 0 0 435.616px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/yiykGfNKew.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.line-10 {
  position: relative;
  width: 645.384px;
  height: 10.769px;
  margin: 29.231px 0 0 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/pSSj8QjT6a.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.flex-row-ba {
  position: relative;
  width: 1005px;
  height: 409px;
  margin: 14.616px 0 0 83px;
  z-index: 28;
}
.div {
  position: absolute;
  width: 298px;
  height: 409px;
  top: 0;
  left: 707px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/SDYJF5Huvp.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 56px;
  top: 8px;
  left: 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.span-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 500px;
  height: 68px;
  top: 137px;
  left: 13px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: right;
  z-index: 13;
}
.line-12 {
  position: relative;
  width: 844.384px;
  height: 10.769px;
  margin: 14.616px 0 0 435.616px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/S6BGJr3vbu.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.frame-13 {
  position: relative;
  width: 1280px;
  height: 375px;
  margin: 14.616px 0 0 0;
  background: #2a2e3a;
  z-index: 33;
  overflow: hidden;
}
.component {
  position: absolute;
  width: 1280px;
  height: 375px;
  top: 0;
  left: 0;
  z-index: 34;
}
.texture {
  position: absolute;
  width: 99.61%;
  height: 717px;
  top: -86px;
  left: 0.39%;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/36TxPM9AsU.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.rectangle-14 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 35;
}
.rectangle-15 {
  position: absolute;
  width: 1280px;
  height: 153px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-11-24/XuZM2UjVhg.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
}
.span-16 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 21.02%;
  height: 14.93%;
  top: 5.07%;
  left: 39.53%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.span-17 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 655px;
  height: 11.2%;
  top: 20%;
  left: 23.44%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  z-index: 39;
}
.group {
  position: absolute;
  width: 62.5%;
  height: 58.13%;
  top: 32.53%;
  left: 18.75%;
  z-index: 40;
}
.group-18 {
  position: relative;
  width: 280px;
  height: 51px;
  margin: 10px 0 0 10px;
  font-size: 0px;
  z-index: 43;
  overflow: visible auto;
}
.span-19 {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.rectangle-1a {
  position: relative;
  width: 280px;
  height: 30px;
  margin: 0 0 0 0;
  background: rgba(217, 217, 217, 0.07);
  border: 0.1px solid #2a2e3a;
  z-index: 45;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.group-1b {
  position: relative;
  width: 780px;
  height: 85px;
  margin: 5px 0 0 10px;
  font-size: 0px;
  z-index: 46;
  overflow: visible auto;
}
.your-question {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.rectangle-1c {
  position: relative;
  width: 780px;
  height: 64px;
  margin: 0 0 0 0;
  background: rgba(217, 217, 217, 0.07);
  border: 0.1px solid #2a2e3a;
  z-index: 48;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.rectangle-1d {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #000000;
  z-index: 41;
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.25);
}
.rectangle-1e {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  z-index: 42;
  box-shadow: 4px 4px 10px 0 rgba(255, 255, 255, 0.25);
}
.group-1f {
  position: absolute;
  width: 37.5%;
  height: 13.6%;
  top: 35.2%;
  left: 42.97%;
  font-size: 0px;
  z-index: 49;
}
.phone-number-20 {
  display: block;
  position: relative;
  height: 21px;
  margin: 0 0 0 0;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}
.rectangle-21 {
  position: relative;
  width: 480px;
  height: 30px;
  margin: 0 0 0 0;
  background: rgba(217, 217, 217, 0.07);
  border: 0.1px solid #2a2e3a;
  z-index: 51;
  backdrop-filter: blur(1.28px);
  box-shadow: -42.667px 42.667px 42.667px 0 rgba(255, 255, 255, 0.07) inset;
}
.rectangle-22 {
  position: absolute;
  width: 60.94%;
  height: 10.67%;
  top: 74.67%;
  left: 19.53%;
  background: #2a2e3a;
  z-index: 52;
  border-radius: 30px;
}
.ask-question {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 5.6%;
  top: 77.07%;
  left: 47.11%;
  color: #ffffff;
  font-family: Bebas Neue Cyrillic, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
